<footer class="container-fluid text-center">
	<div class="row align-middle">
		<div class="col-12 col-sm-4">
			<span class="glyphicon glyphicon-envelope fa-5x"></span>
			<br>
			Send a message
			<br>
			enterprise@domain.com
		</div>
		
		<div class="col-12 col-sm-4">
			<span class="glyphicon glyphicon-earphone fa-5x"></span>
			<br>
			Call us
			<br>
			+52 123-456-7890
		</div>
		
		<div class="col-12 col-sm-4">
			<span class="fa fa-firefox fa-5x"></span>
			<br>
			Visit our site
			<br>
			enterprise.domain.com
		</div>
	</div>
	<hr>
	About the author
	<div class="row">
		<div class="col-12 col-sm-6">
			<span class="fa fa-github fa-5x"></span>
			<br>
			Watch my gitHub
			<br>
			<a href="https://github.com/EstefaniaAR"></a>
		</div>
		
		<div class="col-12 col-sm-6">
			<span class="fa fa-firefox fa-5x"></span>
			<br>
			<a href="https://idevelopeveryday.blogspot.com/">Visit my site</a>
		</div>
	</div>
</footer>