<!-- Navbar -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" >
    <!-- SideNav slide-out button -->
    <div class="float-left">
        <a class="glyphicon glyphicon-menu-hamburger"><span class="clearfix d-none d-sm-inline-block" ng-click="openNav()"></span></a> 
    </div>
    <!-- Breadcrumb-->
    <div class="fixed-margin">
        <p>CRUD application</p>
    </div>
    <ul  id="contact-menu" class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
            <a class="nav-link"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Account</span></a>
        </li>
    </ul>
    <!--
    <div id="hide-menu" class="dropdown">
		<button data-ng-click="mc.openDrop();" class="dropbtn glyphicon glyphicon-menu-down"></button>
	  	<div id="myDropdown" class="dropdown-content">
            <a class="nav-link"> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
            <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Support</span></a>
            <a class="nav-link"> <span class="clearfix d-none d-sm-inline-block">Account</span></a>	    	
	  	</div>
	</div>
	-->
</nav>

<!-- /.Navbar -->
